<% content_for :title do %>
    Dashboard::Gestion des utilisateurs
<% end %>
<!-- <div class="p-titre">
	<span class="label">gestion des utilisateurs</span>
</div> -->

<%= render "dashboard/shared/user_links" %>
