<% content_for :title do %>
    <title>Dashboard::Gestion des utilisateurs</title>
<% end %>
<!-- <div class="p-titre">
	<span class="label">gestion des utilisateurs</span>
</div> -->

<%= render "dashboard/shared/user_links" %>
