<% content_for :title do %>
    Dashboard::Editer un compte
<% end %>
<%= render "dashboard/shared/user_links" %>

<div class="row" id="edit-ou">
	<div class="large-12 columns">
		<div id="titre" class="yellow">
			<h1>Editer compte MINSTANT</h1>
		</div>
		
		<div id="form"><%= render 'form' %></div>
		
	</div>
</div>