<% content_for :title do %>
    <title>Dashboard::Créer un nouveau compte</title>
<% end %>

<%= render "dashboard/shared/user_links" %>

<div class="row" id="new-ou">
	<div class="large-12 columns">
		<div id="titre">
			<h1>Nouveau compte MINSTANT</h1>
		</div>
		
		<div id="form"><%= render 'form' %></div>
		
	</div>
</div>
