<div class="row" id="about">
	<div class="row" id="presentation">
		<div class="large-12 small-12 medium-12">
			<%= image_tag('mi.jpg') %>
			<p>En 2014, l’e-mail est encore le mode de communication le plus utilisé des entreprises car il est simple, fiable et universel. A côté les messageries instantanées ont du mal à s’imposer, en cause le manque de fonctionnalités dédiées aux entreprises ainsi qu’une image grand public (voir de loisir) de celles-ci (Windows messenger, ICQ, skype, etc).</p>		
		</div>
	</div>
	<div class="clearbox"></div>
	<div class="row">
		<div class="large-6 small-12 medium-12 columns">
			<div class="content">
				<h2>Minstant c'est quoi</h2>
				<%= image_tag('slogan.jpg') %>
				<p>
					C'est un service web qui permettrait aux entreprises d’avoir accès à une messagerie instantanée privée, adaptée à leurs besoins et facile à déployer. La confidentialité est également un critère important surtout dans les grandes entreprises.
				</p>
			</div>
		</div>
		<div class="large-6 small-12 medium-12 columns">
			<div class="content">
				<h2>Quelle difference avec les autres?</h2>
				<%= image_tag('les_messagerie.png') %>
				<p>
					Des messageries comme Skype ont des politiques très opaques quant au cryptage des données ainsi qu’à leur conservation. L’utilisation d’un protocole standard et ouvert comme XMPP (ex Jabber) apparaît donc comme une évidence. De plus grâce à ce genre de protocole standard, les entreprises auront le choix du client à utiliser (Pidgin par ex). L’entreprise pourra via le service web créer des comptes pour ses collaborateurs sur le serveur XMPP Openfire.	
				</p>
			</div>
		</div>
	</div>
</div>