<div class="row" id="acceuil">
    <div class="large-6 small-12 medium-12 columns">
        <div id="image-produit">
            <%= image_tag('mi.jpg') %>
            <%= image_tag('openfire.gif') %>
        </div>
    </div>

    <div class="large-6 columns" id="small_presentation">
        <br>
        <div class="row">
            <div class="large-12 small-12 medium-12 columns" id="titreP">
                <h1>Bonjour,</h1>
                <p>un peu sur Minstant: Minstant c'est</p>
            </div>
        </div>
        <div class="row" id="about-link">
            <div class="large-4 small-4 medium-4 columns" >
                <div class="panel ">
                    <div class="carre blue"><i class="fa fa-lock fa-2x"></i></div>
                    <p>Application Sécurisée</p>
                </div>
            </div>
            <div class="large-4 small-4 medium-4 columns" >
               <div class="panel">
                    <div class="carre green"><i class="fa fa-rocket fa-2x"></i></div>
                    <p>Service Rapide</p>
                </div>
            </div>
            <div class="large-4 small-4 medium-4 columns" >
                <div class="panel">
                    <div class="carre gris"><i class="fa fa-tablet fa-2x"></i></div>
                    <p>Flexible</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 small-12 medium-12 columns" id="textP">
                <p>
                   <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, fugiat, a sequi saepe assumenda repellat molestiae magni deserunt aut officia exercitationem porro ab consectetur suscipit dolore quaerat dignissimos quam atque.
                   </span>
                </p>
            </div>
        </div>
        <br>
    </div>
</div>