<div class="row" id="partenaires">
	<div class="large-4 small-12 medium-12 columns">
		<div class="panel"><%= image_tag('logo_iut.png') %>
			<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quaerat, nemo, consequuntur voluptatem nobis cupiditate dolores facilis deserunt fuga tempore placeat earum necessitatibus. Sint, quae odit omnis adipisci ab impedit?</div>
		</div>
	</div>
	<div class="large-4 small-12 medium-12 columns">
		<div class="panel"><%= image_tag('nilsine.png') %>
			<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eum, quam, doloribus, dolore quidem molestias quia nostrum ullam expedita atque veniam magni provident iusto eos tempore iste voluptas corporis illum.</div>
		</div>
	</div>
	<div class="large-4 small-12 medium-12 columns">
		<div class="panel"><%= image_tag('mepulco_new.png') %>
			<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, esse, necessitatibus, nisi, blanditiis suscipit quam libero accusantium mollitia deserunt delectus ab dolores sint culpa dolor nulla quis tempora. Iste, eveniet.</div>
		</div>
	</div>
</div>