body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(30, 41, 61, 1.0);
  #container{
    .row{
      padding-top: 80px;
      #form{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        #haut{
          background-color: #fff;
          box-shadow: 0px -1px 1px rgba(255, 255, 255, 1.0);
          padding-top: 30px;
          padding-bottom: 30px;
          h1{
            text-align: center;
            color: #42B8DD;
            font-size: 2.5em;
            margin: 0;
            text-shadow: 0 0 1px darken(#42B8DD,15);
          }
          form{
            width: 75%;
            margin: 0 auto;
            padding-top: 10px;
            div.inPut{
              padding: 3px 10px;
              border: 2px solid #EAECEF;
              color: #A7ADB6;
              border-radius: 5px;
              margin-bottom: 10px;
              input{
                color: #A7ADB6;
                width: 63%;
                border: none;
                margin-left: 20px;
                height: 30px;
                font-size: 1.2em;
              }
              label{
                text-shadow: 0 0 1px #A7ADB6;
                font-size: 1.2em;
              }
              &:hover{
                cursor: pointer;
              }
            }
            #submit{
              width: 100px;
              height:50px;
              margin: 0 auto;
              margin-top: 20px;
              input{
                cursor: pointer;
                width: 100px;
                height:50px;
                background: rgb(66, 184, 221);
                color: white;
                border: none;
                border-radius: 4px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
        #bas{
          #b1{
            height: 50px;
            background-color: rgba(30, 41, 61, 1.0);
            box-shadow: 0px 0px 3px darken(rgba(30, 41, 61, 1.0),5),0px 1px 3px rgba(0, 0, 0, 1);
            line-height: 50px;
            padding-left: 90px;
            a{
              display: inline-block;
              margin-right: 20px;
              color: #747F95;
              text-shadow: 0 0 1px #000;
              &:visited{
                color: #747F95;
              }

            }
          }
          #b2{
            margin-left: 40px;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 30px 42px 0 0px;
            border-color: rgba(30, 41, 61, 1.0) transparent transparent transparent;
            box-shadow: -3px 0px 0 rgba(0, 0, 0, 0.4);
          }
        }
        #logo{
          margin-top: 10px;
          color: #42B8D9;
        }
      }
    }
  }
}