@mixin incrustation(){
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5) inset;
}
@mixin ombre(){
	box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
}
$my-resume:rgba(232, 53, 86, 1.0);
$my-work  :rgba(97, 207, 211, 1.0);
$my-skill :rgba(209, 200, 37, 1.0);
$blue     :rgba(0, 140, 186, 1.0);
$red      :rgba(240, 65, 36, 1.0);
$yellow   :rgba(240, 138, 36, 1.0);
$green    :rgba(115, 184, 67, 1.0);
$gris     :rgba(96, 96, 96, 1.0);

.clearbox{clear: both;}
.hint,.form-inputs small{
	clear: left;
	margin-left: 120px;
	font-size: 12px;
	color: #555;
	display: block;
	font-style: italic;
	margin-bottom: 10px;
}
.hint{
	margin-top: -12px;
}
#error_explanation{
	background-color: #F04124;
    border-color: #DE2D0F;
    color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: block;
    font-size: 0.8125rem;
    font-weight: normal;
    margin-bottom: 1.25rem;
    padding: 0.875rem 1.5rem 0.875rem 0.875rem;
    position: relative;
    h2{
    	color: #fff;
    	font-size: 16px;
    	margin-bottom: 10px;
    }
}
html{
	body{
		font-family        : 'Source Sans Pro', sans-serif;
	    font-size          : 19pt;
	    font-weight        : 300;
	    color              : #888;
	    -webkit-text-stroke: 0.15px;

		section#up-line{
			background-color: $gris;
			height: 10px;
		}

		header{
			padding:15px 0 25px 0;
			.row #about{
			 	h1{
					font-family: 'Source Sans Pro', sans-serif;
					font-size  : 25pt;
			    	color      : $gris;
			    	font-weight: 600;
			    	margin     : 0;
			    	padding    : 0;
				}
				p{
			    	color    : $gris;
					font-size: 13pt;
				}
			}

			.row #navigation{
				/*-----  navigation ecran large  ------*/				
					@media screen and (min-width: 885px) {
						top:25px;
						nav {
							background:transparent;
							.top-bar-section ul {
								background: transparent;
								li{
									&:first-child{
										a{
											margin-left: 0;
										}
									}
									a{
										color      :#C3BFBE;
										background : transparent;
										font-size  : 11pt;
										margin-left:5px;
										&:hover{
											color: $blue;
										}
									}
								} 
							}
						}
					}

					@media screen and (min-width: 770px) and (max-width: 880px) {
						top:10px;
						nav {
							background:transparent;
							.top-bar-section ul {
								background: transparent;
								li{
									&:first-child{
										a{
											margin-left: 0;
										}
									}
									a{
										color:#C3BFBE;
										background: transparent;
										font-size: 11pt;
										margin-left:85px;
										&:hover{
											color: $blue;
										}
									}
								} 
							}
						}
					}
					
				/*-----  End of navigation ecran large  ------*/
				
				/*-----  navigation ecran small  ------*/				
					@media screen and (min-width: 300px) and (max-width: 768px)  {
						top:-50px;
						nav.top-bar {
							background:transparent;
							.toggle-topbar.menu-icon a{
								width: 30px;
								height: 32px;
								background-color: $gris;
								border-radius: 5px;
							}
							.toggle-topbar.menu-icon a:after{
								margin-right: 7px;
							}
						}
						.expanded .title-area{
							background:transparent;
						}
						ul.left{
							margin-top: 10px;
						}
					}
				/*-----  end of navigation ecran small  ------*/				
			}
		}

		section#container{
			border-bottom: 1px solid darken(#fff,10);
			@media screen and (max-width: 768px) {
				margin-top: -50px;
			}
			background-color: lighten(#EAE5E5,5);
			padding-top: 3%;
			padding-bottom: 3%;
			#acceuil{
				#image-produit{
					img{
						padding: 3px;
						margin-bottom: 20px;
						background-color: #fff;
						background-color: #fff;
						@include incrustation;
					}
				}
				#small_presentation{
					background: none repeat scroll 0 0 #FFFFFF;
				   	border: 1px solid #E5E5E5;
				   	@include ombre;
				   	font-weight: normal;
					#titreP{
						margin-bottom:20px;
						h1{
						    font-size: 50pt;
						    font-weight: bold;
						    color: $gris;
						}
						p{
							font-size: 20pt;
						    color: $gris;
						    font-weight: 300;
						}
					}
					#about-link{
						.large-4{
							.panel{
								@include incrustation;
								height: 130px;
								text-align: center;
								margin-top: 20px;
								padding: 20px 0 0;
								border-radius:5px;
								background-color: #FFFFFF;
								border: none;
								.green{
									background-color: $green;
								}
								.blue{
									background-color: $blue;
								}
								.gris{
									background-color: $gris;
								}
								.carre{
									i{
										color:#fff;
										text-shadow: 0 0 1px 2px #FFFFFF;
									}
									text-align: center;
									line-height: 75px;
									display: inline-block;
									width: 60px;
									height: 60px;
									// background-color: $gris;
									margin-bottom: 10px;
									border-radius: 5px;
								}
								p{
									color: darken(#E9E9E9,50);
									text-shadow: 0 0 1px 2px darken(#E9E9E9,30);
									font-size: 15px;
									font-weight: 300;
								}
							}
						}
						#my-resume{
							padding-top: 40px;
							padding-left: 32px;
							background-color: $my-resume;
							p{
								margin-left: 15px;
							}
							&:hover{
								background-color: darken($my-resume, 20);
							}
						}
						#my-work{
							padding-top: 55px;
							padding-left: 20px;
							background-color: $my-work;
							&:hover{
								background-color: darken($my-work, 20);
							}
						}
						#my-skill{
							padding-top: 40px;
							padding-left: 17px;
							background-color: $my-skill;
							p{
								margin-left: 30px;
							}
							&:hover{
								background-color: darken($my-skill, 20);
							}
						}
					}
					#textP{
						margin-top: 20px;
						font-size: 12pt;
						text-align: justify;
						span{
							line-height: 18px;
						}
						em,blockquote{
							font-style: italic;
						}
						blockquote{
							font-size: 12pt;
							font-weight: bold;
						}
					}
				}
			}
			#inscrip-connex{
				label{
					font-size: 15px;
					color: #555;
					font-style: italic
				}
				h1{
					font-size: 50pt;
					font-weight: bold;
					color: $gris;
					margin: 0px 0 15px 0;
				}
				#form-change{
					@include incrustation;
					margin-bottom: 0;
				}
				input{@include incrustation;}
				#inscription{
					display: none;
				}
				#image{
					img{
						width: 60%;
					}
				}
			}
			#partenaires{
				.columns{
					.panel{
						// width: 50%;
						background: #FFFFFF;
					   	border: 1px solid #E5E5E5;
					   	@include ombre;
					   	.text{
					   		display: none;
					   	}
					}
				}
			}
			#about{
				#presentation{
					padding   : 5px;
					background: #FFFFFF;
				   	@include incrustation;
					img{
						width: 70%;
						float: left;
					}
				   	p{
						font-size : 0.8em;
						color     : darken($gris,10);
						letter-spacing: 2px;
						// text-align: center;				   		
				   	}
				}
				.large-6{
					margin-top: 10px;
				}
				
				.content{
					h2{
						color: $red;
						font-size: 1.4em;
						margin-bottom: 10px;
					}
					img{
						float: left;
						width: 60%;
						margin-right: 10px;
					}
					padding: 10px;
					background-color: #fff;
					@include ombre;
					font-size: 0.7em;
					color:darken($gris,10);
					overflow: hidden;
					p{
						// text-shadow:0 0 1px $gris;
					}
				}
			}
			#contact{
				textarea{
					height: 180px;
					resize:none;
				}
				input[name="submit"]{
					margin-bottom: 0;
				}
				label{
					font-size: 15px;
					color: #555;
					font-style: italic
				}
			}
			#devise_sign_up_form, #devise_registration_edit_form{
				@include ombre;
				padding: 10px;
				background-color: #fff;
				label{
					font-size: 15px;
					color: #555;
					font-style: italic
				}
				h1{
					font-size: 50pt;
					font-weight: bold;
					color: $gris;
					margin: 10px 0 15px 0;
				}
			}
		}

		footer{
			padding-top: 10px;
			border-top: 5px solid #fff;
			background-color: $gris;
			color: #fff;
			a{
				color: #fff;
				font-weight: 400;
				text-shadow: 0 0 1px 2px #fff;
				&:hover{
					color: $green;
					text-shadow: 0 0 1px 3px $green;
				}
			}
			li{
				padding-bottom: 10px !important;
				.copy{
					font-size: 22pt;
					font-weight: 400;
				}
				span.small{
					font-size: 10pt;
				}
				span{
					font-size: 11pt;
					a{
						font-size: 13pt;
						margin-right: 10px;
						color: #fff;
						font-weight: 400;
					}
				}
			}
		}
	}
}