<div class="row" id="menu-link">
  	<div class="small-12 large-3 columns">
		<div class="option blue">
			<div class="lk-c"><i class="fa fa-users"></i></div>
			<%= link_to openfire_users_path do %>
				<div class="lk">
					<span>Listes des comptes</span>
					<i class="fa fa-arrow-circle-o-right"></i>
					<div class="clear"></div>
				</div>
			<% end %>
		</div>
	</div>
  	<div class="small-12 large-3 columns">
		<div class="option green">
			<div class="lk-c"><i class="fa fa-plus"></i></div>
			<%= link_to new_openfire_user_path do %>
				<div class="lk">
					<span>Ajouter un nouveau compte</span>
					<i class="fa fa-arrow-circle-o-right"></i>
					<div class="clear"></div>
				</div>
			<% end %>
		</div>
	</div>
  	<div class="small-12 large-3 columns">
		<div class="option yellow">
		<div class="lk-c"><i class="fa fa-pencil-square-o"></i></div>
			<%= link_to openfire_users_path(:tache => "edit") do %>
				<div class="lk">
					<span>Editer un compte</span>
					<i class="fa fa-arrow-circle-o-right"></i>
					<div class="clear"></div>
				</div>
			<% end %>
		</div>
	</div>
  	<div class="small-12 large-3 columns">
		<div class="option red">
		<div class="lk-c"><i class="fa fa-trash-o"></i></div>
			<%= link_to openfire_users_path(:tache => "rem") do %>
				<div class="lk">
					<span>Supprimer un compte</span>
					<i class="fa fa-arrow-circle-o-right"></i>
					<div class="clear"></div>
				</div>
			<% end %>
		</div>
	</div>	
</div>