<footer>
  <div class="row">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
      <li>
        <i class="fa fa-phone"></i>&nbsp;
        <span>xxxxxxxxxx</span>
      </li>

      <li>
        <i class="fa fa-envelope-o"></i>&nbsp;
        <a href="mailto:armand.niampa@gmail.com?subject=feedback"><span>Nilsime Minstant</span></a>
      </li>

      <li>
        <i class="fa fa-plus-square-o"></i> <span class="small">Nous suivre</span>
        <span>
            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="#"><i class="fa fa-github"></i></a>
            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
        </span>
      </li>
      <li>
        <span class="copy">©</span> <span>2014 by Nilsine </span>
      </li>
    </ul>
  </div>
</footer> 
